.card{
    border-bottom: 2px dotted blue;
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.card button{
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    color: blue;
    font-size: large;
    font-weight: bold;
}